@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #35221e;
}

html {
  scroll-behavior: smooth;
}

body{
  background: #C2AEAE;
  color: #35221e;
  font-weight: 400;
}